test_game_of_life
obj
obj/*
game_of_life
.qmake.stash
cmake-build-debug/
.idea/
.DS_Store
a.out
.vscode
.ccls-cache
Application/Application.pro.user
Application/Application.pro.user.*
game_of_life_concurrent
game_of_life_mpi
game_of_life_serial
build-Application-Desktop*
